{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <form action="/account/manage/update-card" method="post">
          <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-email= "{{ user.email }}"
              data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
              data-panel-label="Update Card Details"
              data-label="Update Card Details"
              data-allow-remember-me=false
              data-locale="auto">
          </script>
        </form>
    </div>
{% endblock %}