{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Create A New Instance</h2>
            <!-- TODO: I think we should make and link to a walkthrough video on this page. -->
            <h3>1. Create an account with Heroku.</h3>
            <h3>2. Enter your credit card information on heroku (no charges will be made).</h3>
            <h3>3. Authenticate your account with us by <a href="{{ link }}">clicking here</a>.</h3>
        </div>
    </div>
{% endblock %}
