{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <form action="{{ url_for('account.charge', name=name) }}" method="post">
          <article>
            <label>
              <span>Amount is $5.00/month</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-email= "{{ user.email }}"
                  data-description="Subscribe to Maps4All"
                  data-amount="500"
                  data-locale="auto"></script>
        </form>
    </div>
{% endblock %}
