{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}
    <div class="ui text container">
        <h1>Creating Instance</h1>
        <div id="status" href="{{ url_for('main.get_status', app_id=app_id, auth=auth) }}">Status</div>
        <div id="info">
          <p>Your app will be available at <a href="http://{{ instance.name }}.herokuapp.com">{{instance.name}}.herokuapp.com</a></p>
          <p>The admin email will be {{ instance.email }}</p>
          <p>The admin password will be {{ instance.default_password }}</p>
        </div>
        <div id="output"></div>
    </div>

    <script>
        var interval2
        var interval = setInterval(function() {
            $.ajax({ 
                type: 'GET', 
                url: $('#status').attr('href'), 
                success: function(res) {
                    console.log(res)
                    res = JSON.parse(res)
                    if (res.status && res.status != 'pending') {
                        myStopFunction2();
                        alert(res.status);
                    }
                    getText(res); 
                } 
            })
        }, 2500)
        function getText(res) {
            console.log('triggered')
                    console.log(res)

            if (res.build && res.build.output_stream_url) {
                myStopFunction();

                console.log(res.build.output_stream_url)

                $('#output').html('<iframe src="' + res.build.output_stream_url + '"></iframe>')
               
            }
        }
        function myStopFunction() {
            clearInterval(interval);
        }
        function myStopFunction2() {
            clearInterval(interval2);
        }
    </script>
{% endblock %}
