{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}
    <div class="ui text container">
        <h1>Success!</h1>
        <p>Hey {{owner}}</p>
        <p>Your login email is {{email}} and your password is:</p>
        <p>{{password}}</p>
        <p>Please change this password soon to something more secure.</p>
        <p>You successfully launched <a href="//{{url}}">{{org}}</a></p>
        <p><a href="/">Launch another app?</a></p>
    </div>
{% endblock %}
