{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}
    <div class="ui text container">
        <h1>Creating Instance</h1>
        <div id="status" href="{{ url_for('main.get_status', app_id=app_id, auth=auth) }}">Status</div>
        <div id="info">
          <p>Your app will be available at <a href="http://{{ instance.name }}.herokuapp.com">{{instance.name}}.herokuapp.com</a></p>
          <p>The admin email will be {{ instance.email }}</p>
          <p>The admin password will be {{ instance.default_password }}</p>
        </div>
        <div id="output"></div>
    </div>

    <script>
        function resizeIframe(iframe) {
          console.log('called')
          iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
        }
        var interval = setInterval(function() {
          $.ajax({ 
           type: 'GET', 
           url: $('#status').attr('href'), 
           success: function(res) {
             if (res === 'fail') {
              $('#output').html('Waiting on response...')
             } else {
               res = JSON.parse(res)
               if (res.status === 'pending') {
                 $('#output').html('<iframe onload="resizeIframe(this)" src="' + res.output_stream_url + '"></iframe>')
                 var contents = $('#output').contents();
                 contents.scrollTop(contents.height());
               } else {
                 myStopFunction();
                 alert(res.status);
               }
             }
           }
          })
        }, 2500)
        function myStopFunction() {
          clearInterval(interval)
        }

    </script>
{% endblock %}
