Dear {{ full_name }},

<p> 
You have succesfully created an instance of Maps4All!
</p>

<p> Your app is available at 

<a href="{{'https://' + url_name + '.maps4all.org'}}">
{{'https://' + url_name + '.maps4all.org'}}
</a>. </p>

<p> The admin email will be: {{ email }}. Click here to reset your password: <a href="{{'https://' + url_name + '.maps4all.org/account/reset-password'}}">
{{'https://' + url_name + '.maps4all.org/account/reset-password'}}
</a>.

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>