{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <h1 class="ui dividing header">Authorize with Heroku</h1>
            <p>{{ config.APP_NAME }} uses Heroku to host and manage your apps. Heroku has a generous free plan which means you can get a reliably hosted app without paying anything.</p>
            <!-- TODO: I think we should make and link to a walkthrough video on this page. -->

            <!-- TODO: The below should link to an email or maybe open an intercom chat. -->
            <p>In order to get started, you must follow these steps below. If you have any questions or concerns please reach out.</p>

            <div class="ui divider"></div>

            <div class="ui relaxed list">
              <div class="item">
                <div class="content">
                  <div class="header">1. Create an account <a href="https://www.heroku.com/">with Heroku here</a>.</div>
                  <div class="description">Under "Primary Development Language" you can put "I'm not a developer" or put your favorite language if you have one.</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="header">2. Verify your account.</div>
                  <div class="description">Heroku requires users to <a href="https://devcenter.heroku.com/articles/account-verification">verify their accounts</a> by adding a credit/debit card to prevent bots from abusing their platform. <b>Heroku will never charge your card</b>.</div>
                </div>
              </div>
            </div>

            <div class="ui divider"></div>

            <p>Next, you will be prompted to sign-in to the Heroku account you just created. When you are ready, click the button below.</p>
            <button class="ui right labeled icon button" onclick="document.location.href='{{ oauth_link }}'">
              <i class="right arrow icon"></i>
              Next
            </button>
        </div>
    </div>
{% endblock %}
