{% extends 'layouts/base.html' %}
{% block content %}

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <h1 class="ui header">Instances</h1>
	<table class="ui celled striped table">
  	<thead>
          <button onclick="window.location.href='{{ url_for('instances.launch') }}'" class="ui primary button">
            Create New Instance
          </button>
    <tr><th colspan="2">Your Instances</th></tr>
  	</thead>
  	<tbody>
	{% for instance in instances %}
    <tr>
      <td class="collapsing">
        <i class="map outline icon"></i> {{ instance.url_name }}
      </td>
      <td><a href="{{'http://' + instance.url_name + '.maps4all.org'}}">{{'http://' + instance.url_name + '.maps4all.org'}}</a></td>
    </tr>
    {% endfor %}
  	</tbody>
	</table>
  </div>
  <div class="eight wide column"></div>
  <script>
    $('body').on('click','#start', function() {
      var clicked = $(this)
      $.post(
        "{{ url_for('main.start') }}/" + $(this).data('name'),
        function(data, stat) {
          clicked.parent().append('<button class="ui red button" data-name="'
            + clicked.data("name") + '" id="stop">Stop</button>')
          clicked.remove();
      });
    });

    $('body').on('click','#stop', function() {
      var clicked = $(this)
      $.post(
        "{{ url_for('main.stop') }}/" + $(this).data('name'),
        function(data, stat) {
          clicked.parent().append('<button class="ui green button" data-name="'
            + clicked.data("name") + '" id="start">Start</button>')
          clicked.remove();
      });
    });


  </script>
</div>
{% endblock %}
