{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    <div class="ui grid container">
      <div class="ten wide computer sixteen wide mobile centered column">
        <h1 class="ui dividing header">Creating App</h1>
        <div id="loader" class="ui active centered inline large text loader">
          <h2 class="ui header">Please wait...</h2>
          <p>Note: This may take a few minutes.</p>
        </div>
        <div id="deployed-info" class="ui icon positive message" style="display: none;">
          <i class="green check icon"></i>
          <div class="content">
            <div class="header">
              Success!
            </div>
            <p>Your app is available at <a href="{{'https://' + instance.url_name + '.maps4all.org'}}">
              {{'https://' + instance.url_name + '.maps4all.org'}}</a>. 
              The admin email will be {{ instance.email }}. A link to set your password will be sent to this email.
            </p>
            <p>Please write down this information!</p>
          </div>          
        </div>
      </div>
    </div>

    <script>
        function resizeIframe(iframe) {
          iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
        }
        var interval = setInterval(function() {
          $.ajax({
           type: 'GET',
           url: "{{ url_for('instances.get_status', app_setup_id=app_setup_id, auth=auth) }}",
           success: function(res) {
             res = JSON.parse(res);
             console.log(res);
             if (res.status !== 'pending') {
                 donePolling();
                 if (res.status === 'succeeded') {
                  $('#deployed-info').show();
                  $.ajax({
                    type: 'POST',
                    url: "{{ url_for('instances.send_admin_email', email=email, password=password, name=name)}}",
                    success: function(res) {
                      //todo: if email did not send, should tell user to go to instance and manually "reset password"
                    }
                    })
                 }
                 else {
                   alert("Something went wrong. Please share this with the developer: " + JSON.stringify(res));
                 }
             }
           }
          })
        }, 2500)
        function donePolling() {
          clearInterval(interval);
          $('#loader').hide();
        }

    </script>
{% endblock %}
